<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--开启Spring注解-->
    <context:annotation-config/>
    
    <!--打开AOP注解支持-->
    <aop:aspectj-autoproxy/>

    <!--扫描Spring注解并注入-->
    <context:component-scan base-package="com.jeanboy.webapp"/>



    <!--<bean id="userDao" class="com.jeanboy.webapp.dao.impl.UserDaoImpl"></bean>-->
    <!--<bean id="userService" class="com.jeanboy.webapp.service.impl.UserServiceImpl"></bean>-->


    <bean id="myInterceptor" class="com.jeanboy.webapp.service.MyInterceptor"/>


</beans>